python-telegram-bot==20.8
Flask[async]==3.0.3
httpx==0.26.0
APScheduler==3.10.4
requests==2.31.0
beautifulsoup4==4.12.2
aiohttp==3.9.5
python-dotenv==1.0.0
feedparser==6.0.10
nest_asyncio==1.5.6
lxml==4.9.3
